@model FUCOS.Models.Login.MallManageModel

<style>
    .Group_ul {
        display: none;
        list-style: none;
    }

    .Group_M_ul {
        list-style: none;
    }

    .Group_li {
        list-style: none;
    }

    .LVL1 {
    }

    .LVL2 {
    }

    .LVL3 {
    }

    .Group_M_span {
        font-weight: 700;
        font-size: 21px;
        margin-left: 17px;
        border-bottom: 1px solid black;
    }

    .Group_D_span {
        font-weight: 800;
        font-size: 18px;
        margin-left: 5px;
        border-bottom: 1px solid black;
    }

    .Group_R_span {
        font-weight: 500;
        font-size: 17px;
        margin-left: 5px;
        border-bottom: 1px solid black;
    }
    .middel :hover {
        background-color: #D5D5D5;
    }

    .farst{
        border-bottom: 2px solid #D5D5D5;
    }
    .farst:hover{
         border-bottom: 1px solid#D5D5D5;
    }
    .small{
        padding : 0;
        padding-left : 40px;
        border-bottom: 1px solid#D5D5D5;
    }

    .small:hover {
            background-color: #D5D5D5;
    }
    .item_lvl3{
        text-decoration : none;
        color: black;
        margin : 3px 0px;
    }

</style>
<script type="text/javascript">
</script>
<div class=" row col-12 p-0 m-0 d-flex justify-content-around mh-100" style="">
    <div class="col-9 row p-0 m-0">
        <div class="col-3 row p-0 m-0" style="">
            <div class="d-block col-12 row m-0 p-0" style="border-right : 1px solid #D5D5D5; ">
                <div class="fatst p-0 m-0" style="border-bottom : 2px solid #D5D5D5;">
                <span id="group1_span" onclick="if(group1_ul.style.display == 'none'){group1_ul.style.display = 'block'} else {group1_ul.style.display = 'none'}">대분류1</span>
                </div>
                <div id="group1_ul" style="display:none">
                    <div class="middel " style="width:100%; margin : 0px; padding : 0; padding-left : 15px; border-bottom : 1px solid #D5D5D5;">
                        <span id="num1" onclick="if(num1_1.style.display == 'none'){num1_1.style.display = 'block'} else {num1_1.style.display = 'none'}">중분류1</span>
                    </div>
                    <div id="num1_1" style="display:none">
                        <div class="small"><a class="item_lvl3" asp-controller="Mall" asp-action="franchiseeMall" asp-route-ITEM_LVL1="1" asp-route-ITEM_LVL2="1" asp-route-ITEM_LVL3="1">소분류 1</a></div>
                        <div class="small"><a class="item_lvl3" asp-controller="Mall" asp-action="franchiseeMall" asp-route-ITEM_LVL1="1" asp-route-ITEM_LVL2="1" asp-route-ITEM_LVL3="2">소분류 2</a></div>
                        <div class="small"><a class="item_lvl3" asp-controller="Mall" asp-action="franchiseeMall" asp-route-ITEM_LVL1="1" asp-route-ITEM_LVL2="1" asp-route-ITEM_LVL3="3">소분류 3</a></div>
                    </div>
                    <div class="middel">중분류2</div>
                </div>
            </div>
        </div>
        <div class="col-9 row p-0 d-flex justify-content-around" style="margin : 0; margin-top:24px;">
            <div class="col-12 row p-0 m-0" style="border-bottom : 1px solid #D5D5D5;">
                <form asp-controller="Mall" asp-action="franchiseeMall" method="post" class="col-12 row p-0 m-0 d-flex justify-content-around">
                    <div class="col-2 row p-0 m-0">
                    </div>
                    <div class="col-6 row p-0 m-0">
                        <div class="input-group mb-3">
                            <input id="ITEM_NM" name="ITEM_NM" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 row p-0 " style="margin : 0; margin-top : 10px;">
                @{
                    int num = 0;
                }
                @for (int a = 0; a < Convert.ToInt32(ViewBag.container_count); a++)
                {
                    <div class="col-12 row p-0 " style="margin : 0; margin-top : 10px;">
                        @for (int b = 0; b < 2; b++)
                        {
                            if (num == Convert.ToInt32(ViewBag.item_count))
                            {
                                break;
                            }
                            <div class="row col-6 p-0 m-0 d-flex justify-content-around">
                                <div class="card" style="width: 19rem;">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@ViewBag.list_ITEM_NM[num]</h5>
                                        <p class="card-text">@ViewBag.list_ITEM_PRICE[num]원</p>
                                        <p class="card-text">@ViewBag.list_ITEM_SIZE[num] @ViewBag.list_UNIT_ITEM[num]</p>
                                        <span></span>
                                        <a asp-controller="Mall" asp-action="MallDetails" asp-route-ITEM_CD="@ViewBag.list_item_cd[num]" class="btn btn-primary" target="_blank">자세히 보기</a>
                                    </div>
                                </div>
                            </div>
                            num++;
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>


