@model FUCOS.Models.Login.CartManageModel
<div>
    <style>

        * {
            box-sizing: border-box;
        }

        p,
        span {
            margin: 0;
        }

        a {
            color: black;
        }

        img {
            display: block;
            width: 80%;
            height: 80px;
            margin: auto;
        }

        .cart {
            width: 80%;
            margin: auto;
            padding: 30px;
        }

            .cart ul {
                background-color: whitesmoke;
                padding: 30px;
                margin-bottom: 50px;
                border: whitesmoke solid 1px;
                border-radius: 5px;
                font-size: 13px;
                font-weight: 300;
            }

                .cart ul :first-child {
                    color: limegreen;
                }

        table {
            border-top: solid 1.5px black;
            border-collapse: collapse;
            width: 100%;
            font-size: 14px;
        }

        thead {
            text-align: center;
            font-weight: bold;
        }

        tbody {
            font-size: 12px;
        }

        td {
            padding: 15px 0px;
            border-bottom: 1px solid lightgrey;
        }

        .cart__list__detail :nth-child(2) {
            vertical-align: top;
        }

            .cart__list__detail :nth-child(2) a {
                font-size: 12px;
            }

            .cart__list__detail :nth-child(2) p {
                margin-top: 6px;
                font-weight: bold;
            }

        .cart__list__smartstore {
            font-size: 12px;
            color: gray;
        }

        .cart__list__option {
            vertical-align: top;
            padding: 20px;
        }

            .cart__list__option p {
                margin-bottom: 25px;
                position: relative;
            }

                .cart__list__option p::after {
                    content: "";
                    width: 90%;
                    height: 1px;
                    background-color: lightgrey;
                    left: 0px;
                    top: 25px;
                    position: absolute;
                }

        .cart__list__optionbtn {
            background-color: white;
            font-size: 10px;
            border: lightgrey solid 1px;
            padding: 7px;
        }

        .cart__list__detail :nth-child(3),
        .cart__list__detail :nth-child(4),
        .cart__list__detail :nth-child(5),
        .cart__list__detail :nth-child(6) {
            border-left: 2px solid whitesmoke;
        }

        .cart__list__detail :nth-child(4),
        .cart__list__detail :nth-child(5),
        .cart__list__detail :nth-child(6) {
            text-align: center;
        }

            .cart__list__detail :nth-child(4) a {
                background-color: #f89d3e;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 4px 8px;
                font-size: 12px;
                margin-top: 5px;
            }

        .price {
            font-weight: bold;
        }

        .cart__mainbtns {
            width: 420px;
            height: 200px;
            padding-top: 40px;
            display: block;
            margin: auto;
        }

        .cart__bigorderbtn {
            width: 200px;
            height: 50px;
            font-size: 16px;
            margin: auto;
            border-radius: 5px;
        }

            .cart__bigorderbtn.left {
                background-color: white;
                border: 1px lightgray solid;
            }

            .cart__bigorderbtn.right {
                background-color: limegreen;
                color: white;
                border: none;
            }
    </style>

    <section class="cart">
        <table class="cart__list">
            <form asp-controller="Cart" asp-action="Delete_Cart">
            <thead>
                <tr>
                    <td colspan="2">상품정보</td>
                    <td>옵션</td>
                    <td>상품금액</td>
                    <td>배송비</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                    @{
                        for (int a = 0; a < ViewBag.Count; a++)
                        {
                        <tr class="cart__list__detail">

                            <td><img src="image/keyboard.jpg" alt="@ViewBag.LI_ITEM_NM[a]"></td>
                            <td>
                                <a href="#">@ViewBag.LI_ITEM_NM[a]</a>
                                <br>
                                <span class="price">@ViewBag.LI_ITEM_PRICE[a]</span><span style="text-decoration: line-through; color: lightgray;">119,000</span>
                            </td>
                            <td class="cart__list__option">
                                <p>상품단위 : @ViewBag.LI_UNIT_ITEM[a]</p>
                                <p>상품단위 : @ViewBag.LI_SALE_UNIT[a]</p>
                            </td>
                            <td>
                                <span class="price" style="display: block; margin-bottom: 10px;">116,620원</span>
                                <a target="_blank" asp-controller="Mall" asp-action="Malldetails" asp-route-ITEM_CD="@ViewBag.LI_ITEM_CD[a]" class="cart__list__orderbtn">주문하기</a>
                            </td>
                            <td>무료</td>
                            <td><a asp-action="Delete_Cart" asp-controller="Cart" asp-route-ITEM_CD="@ViewBag.LI_ITEM_CD[a]" class="btn btn-outline-danger btn-sm">삭제</a></td>
                        </tr>
                        <input type="hidden" asp-for="ITEM_CD" value="@ViewBag.LI_ITEM_CD[a]" />
                        }
                    }

            </tbody>
            <tfoot>
            </tfoot>
            </form>
        </table>
    </section>
</div>